@{
    Layout = "";

    @model UCS_CRM.Core.ViewModels.ConfirmPin


    string message = ViewBag.response as string;
    string errorMessage = TempData["errorResponse"] as string;
}

<head>
    <title>UCS SACCO CRM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/page.css" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.ico">
</head>
<body>
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="~/images/LOGO(1).png" class="img-fluid" alt="Sample image" style="width:50%; height:50%" />

                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <div>
                        @if (!string.IsNullOrEmpty(message))
                        {
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                @message
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                           
                        }
                        @if(!string.IsNullOrEmpty(errorMessage))
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                @errorMessage
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }

                    </div>
                    <form asp-action="ConfirmAccount" asp-antiforgery="true" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="divider d-flex align-items-center my-4">
                            <p class="text-center fw-bold mx-3 mb-0">Enter Confirmation Code</p>
                        </div>

                      
                        <div class="form-outline mb-4">
                            <input type="hidden" name="Email" id="Email" value="@ViewBag.email" />
                            <input type="number" asp-for="Pin" placeholder="Enter Pin" required="required" class ="form-control form-control-lg" />                          
                                <div>
                                    <span asp-validation-for="Pin" class="text-danger"></span>
                                </div>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                Confirm
                            </button>

                        </div>

                    </form>
                </div>
            </div>
        </div>
       <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
              <!-- Copyright -->
              <div class="text-white mb-3 mb-md-0">

                  <a href="https://www.sparcsystems.africa" target="_blank" style="color:aliceblue; text-decoration:none;">Copyright © 2024. All rights reserved. Developed by Sparc Systems Limited</a>

              </div>
              <div class="text-white mb-3 mb-md-0">

                  <p class="text-white text-end" style=" text-align: right; color:aliceblue; text-decoration:none;">For Support, Contact Us on <strong>3087</<strong></strong></p>

              </div>
              <!-- Copyright -->

              <!-- Right -->
                <div>
                  <a href="#!" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a href="#!" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#!" class="text-white me-4">
                    <i class="fab fa-google"></i>
                  </a>
                  <a href="#!" class="text-white">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </div>
              <!-- Right -->
            </div>
    </section>
</body>
