@using Microsoft.AspNetCore.Identity;
@{
    Layout = "";
    @inject SignInManager<UCS_CRM.Core.Models.ApplicationUser> SignInManager

    string message = TempData["response"] as string;
}

<!DOCTYPE html>
    <head>
        <title>UCS SACCO CRM</title>
         <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link href="~/css/page.css" rel="stylesheet" />
         <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.ico">
    </head>
    <body>
        <section class="vh-100">
            <div class="container-fluid h-custom">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="~/images/draw2.webp" class="img-fluid" alt="Sample image"/>
                  
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <div>
                       @if (!string.IsNullOrEmpty(message))
                        {
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    @message
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            <div>
                               
                            </div>
                        }
                        
                    </div>
                  <form asp-action="Create" asp-antiforgery="true" method="post">
                       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @*<div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                      <p class="lead fw-normal mb-0 me-3">Sign in with</p>

                    </div>*@

                    <div class="divider d-flex align-items-center my-4">
                      <p class="text-center fw-bold mx-3 mb-0">Login</p>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <input type="email" id="form3Example3" name="Email" class="form-control form-control-lg"
                        placeholder="Enter a valid email address" />
                      <label class="form-label" for="form3Example3">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                      <input type="password" id="form3Example4" name="Password" class="form-control form-control-lg"
                        placeholder="Enter password" />
                      <label class="form-label" for="form3Example4">Password</label>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                      <!-- Checkbox -->
                      <div class="form-check mb-0">
                        <input class="form-check-input me-2" type="checkbox" name="RememberMe" value="" id="form2Example3" />
                        <label class="form-check-label" for="form2Example3">
                          Remember me
                        </label>
                      </div>
                      <a href="#!" class="text-body">Forgot password?</a>
                      <a asp-action="register" asp-controller="auth" class="text-body">Register as member</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                      <button type="submit" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>

                    </div>

                  </form>
                </div>
              </div>
            </div>
            <div
              class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
              <!-- Copyright -->
              <div class="text-white mb-3 mb-md-0">
                Copyright © 2023. All rights reserved. Developed by Sparc Systems Limited
              </div>
              <!-- Copyright -->

              <!-- Right -->
              <div>
                <a href="#!" class="text-white me-4">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#!" class="text-white me-4">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#!" class="text-white me-4">
                  <i class="fab fa-google"></i>
                </a>
                <a href="#!" class="text-white">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>
              <!-- Right -->
            </div>
          </section>
    </body>

@if (SignInManager.IsSignedIn(User))
{
            <script>
                    location.href = "admin/users"
            </script>
}
</html>