@model UCS_CRM.Core.DTOs.TicketPriority.EditTicketPriorityDTO
<!-- Modal -->

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Ticket Priority</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="DataInvalid" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" placeholder="Ticket Priority" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Value" class="control-label"></label>
                    <input asp-for="Value" placeholder="Ticket Priority" class="form-control" />
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaximumResponseTimeHours" class="control-label"></label>
                    <input asp-for="MaximumResponseTimeHours" type="number" step="0.5" placeholder="Ticket Priority" class="form-control" />
                    <span asp-validation-for="MaximumResponseTimeHours" class="text-danger"></span>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="update_ticket_priority_btn" name="update_ticket_priority_btn">Update Ticket Priority</button>
        </div>
    </div>
</div>
