@model UCS_CRM.Areas.Admin.ViewModels.UserFromMemberViewModel
<!-- Modal -->

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Set Email For Account</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form asp-action="CreateUserFromMember">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="DataInvalid" />
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" placeholder="Enter Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div> 
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <select asp-for="Gender" asp-items="@ViewBag.genderList" class="form-control"></select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="create_account_btn" name="create_account_btn">Create User Account</button>
        </div>
    </div>
</div>
