
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, materialpro admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, materialpro admin lite design, materialpro admin lite dashboard bootstrap 5 dashboard template">
    <meta name="description"
          content="Material Pro Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>UCS-SACCO CRM</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/materialpro-lite/" />
    <!-- Favicon icon -->
     <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.ico">
    <!-- chartist CSS -->
@*    <link href="~/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="~/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">*@
    @*<link href="~/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">*@
        <!-- Icon fonts -->
    <link href="~/fonts/feather.css" rel="stylesheet" />
    <link href="~/fonts/fontawesome.css" rel="stylesheet" />
    <link href="~/fonts/ionicons.css" rel="stylesheet" />
    <link href="~/fonts/linearicons.css" rel="stylesheet" />
    <link href="~/fonts/open-iconic.css" rel="stylesheet" />
    <link href="~/fonts/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/css/datatables.min.css" rel="stylesheet">
    <!--This page css - Morris CSS -->
    <link href="~/assets/plugins/c3-master/c3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/css/style.min.css" rel="stylesheet">
    <link href="~/css/toastr.css" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)

</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        
        <partial name="_TopHeader" />
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        
        <partial name="_SideBar" />
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="page-title mb-0 p-0">Dashboard</h3>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    @*<div class="col-md-6 col-4 align-self-center">
                        <div class="text-end upgrade-btn">
                            <a href="#"
                               class="btn btn-danger d-none d-md-inline-block text-white" target="_blank">
                                Upgrade to
                                Pro
                            </a>
                        </div>
                    </div>*@
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->

                @RenderBody()

                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer">
                <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 ">
              <!-- Copyright -->
              <div class="text-white mb-3 mb-md-0">

                  <a href="https://www.sparcsystems.africa" target="_blank" style="color:aliceblue; text-decoration:none;">Copyright © 2024. All rights reserved. Developed by Sparc Systems Limited</a>

              </div>
              <div class="text-white mb-3 mb-md-0">

                  <p class="text-white text-end" style=" text-align: right; color:aliceblue; text-decoration:none;">For Support, Contact Us on <strong>3087</<strong></strong></p>

              </div>
              <!-- Copyright -->

              
              <!-- Right -->
            </div>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/assets/plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/assets/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="~/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/js/sidebarmenu.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
   @* <!-- chartist chart -->
    <script src="~/assets/plugins/chartist-js/dist/chartist.min.js"></script>
    <script src="~/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>*@
    <!--c3 JavaScript -->
    <script src="~/assets/plugins/d3/d3.min.js"></script>
    <script src="~/assets/plugins/c3-master/c3.min.js"></script>
    <!--Custom JavaScript -->
    @*<script src="~/js/pages/dashboards/dashboard1.js"></script>*@
    <script src="~/js/custom.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/bootbox.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>