<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- User Profile-->
          
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="Admin" asp-controller="home" asp-action="Index" aria-expanded="false">
                        <i class="mdi me-2 mdi-gauge"></i><span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="Admin" asp-controller="users" asp-action="Index" aria-expanded="false">
                        <i class="mdi me-2 mdi-account-check"></i><span class="hide-menu">Users</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="Admin" asp-controller="roles" asp-action="Index" aria-expanded="false">
                        <i class="mdi me-2 mdi-account-network"></i><span class="hide-menu">Roles</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                      asp-area="Admin" asp-controller="members" asp-action="Index" aria-expanded="false">
                        <i class="mdi me-2 mdi-account-multiple"></i><span class="hide-menu">Members</span>
                    </a>
                </li>
                 <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                      asp-area="Admin" asp-controller="AccountTypes" asp-action="Index" aria-expanded="false">
                        <i class="mdi me-2 mdi-account-multiple"></i><span class="hide-menu">Account Types</span>
                    </a>
                </li>
                 <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                      asp-area="Admin" asp-controller="Departments" asp-action="Index" aria-expanded="false">
                        <i class="mdi me-2 mdi-folder"></i><span class="hide-menu">Departments</span>
                    </a>
                </li>
               @* <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="icon-material.html" aria-expanded="false">
                        <i class="mdi me-2 mdi-emoticon"></i><span class="hide-menu">Financial Status</span>
                    </a>
                </li>*@
@*                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="map-google.html" aria-expanded="false">
                        <i class="mdi me-2 mdi-earth"></i><span class="hide-menu">Loan</span>
                    </a>
                </li>*@
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="Admin" asp-controller="TicketCategories" asp-action="Index" aria-expanded="false">
                        <i class="mdi mdi-note"></i><span class="hide-menu">Ticket Categories</span>
                    </a>
                </li>
                                
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="Admin" asp-controller="TicketPriorities" asp-action="Index" aria-expanded="false">
                        <i class="mdi mdi-note-outline"></i><span class="hide-menu">Ticket Priorities</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="Admin" asp-controller="States" asp-action="Index" aria-expanded="false">
                        <i class="mdi mdi-file-cloud"></i><span class="hide-menu">Ticket States</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="Admin" asp-controller="EmailAddresses" asp-action="Index" aria-expanded="false">
                        <i class="mdi mdi-file-cloud"></i><span class="hide-menu">Email Addresses</span>
                    </a>
                </li>
               @* <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="pages-error-404.html" aria-expanded="false">
                        <i class="mdi me-2 mdi-help-circle"></i><span class="hide-menu">Tickets</span>
                    </a>
                </li>*@
             @*   <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       href="pages-error-404.html" aria-expanded="false">
                        <i class="mdi mdi-chart-pie"></i><span class="hide-menu">Reports</span>
                    </a>
                </li>*@
               @* <li class="text-center p-20 upgrade-btn">
                    <a href=""
                       class="btn btn-warning text-white mt-4" target="_blank">
                       Button
                    </a>
                </li>*@
            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <div class="sidebar-footer">
        <div class="row justify-content-center">
            @*<div class="col-4 link-wrap">
                <!-- item-->
                <a href="" class="link" data-toggle="tooltip" title="" data-original-title="Settings">
                    <i class="ti-settings"></i>
                </a>
            </div>*@
            @*<div class="col-4 link-wrap">
                <!-- item-->
                <a href="" class="link" data-toggle="tooltip" title="" data-original-title="Email">
                    <i class="mdi mdi-gmail"></i>
                </a>
            </div>*@
            <div class="col-4 link-wrap">
                <!-- item-->
                <a asp-action="Logout" asp-controller="auth" asp-area="" class="link" data-toggle="tooltip" title="" data-original-title="Logout">
                    <i class="mdi mdi-power"></i>
                </a>
            </div>
        </div>
    </div>
</aside>