@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var host = Configuration.GetSection("HostingSettings")["Host"];
    var path = Configuration.GetSection("HostingSettings")["path"];
    var protocol = Configuration.GetSection("HostingSettings")["Protocol"];
}
@{
    ViewData["Title"] = "First Escalation";
    Layout = "~/Areas/Admin/Views/shared/_Layout.cshtml";
}



<div class="card">
    <div class="card-header">
        <h4 class="text-center text-uppercase">Escalated Tickets</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered " id="my_table">
                <thead>
                    <tr>
                        <th>
                            Ticket Number
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Level
                        </th>

                        <th>
                            Priority
                        </th>
                        <th>
                            Date Escalated
                        </th>
                        <th>
                            Reason
                        </th>

                        <th>
                            Assigned To
                        </th>
                        <th>
                            Action
                        </th>



                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{

    <script>
        var datatable;
    </script>

    <script src="~/js/TicketEscalation.js"></script>
    <script>
        $(document).ready(function () {
            datatable = $('#my_table').DataTable({


                "processing": true,
                "serverSide": true,
                "order": [[0, "desc"]],
                ajax: {
                    url: '/clerk/ticketEscalations/GetTicketEscalations',
                    type: 'post',
                    data: { escalationLevel: 0 },
                    datatype: 'Json',
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                        console.log(XMLHttpRequest.responseText)


                    }


                },
                columnDefs: [
                    {
                        defaultContent: "",
                        targets: "_all",
                        'orderable': true
                    },
                ],
                columns: [

                    {
                        data: "ticket.ticketNumber",
                        name: "ticketNumber",
                        className: "text-left",
                        "orderable": true,
                    },
                    {
                        data: "ticket.title",
                        name: "title",
                        className: "text-left",
                        "orderable": true,
                    },
                    {
                        data: { state: "escalationLevel" },
                        mRender: function (data, type, full) {
                            return data.escalationLevel == 1 ? "First Escalation" : "First Escalation";
                        }, "name": "escalationLevel",
                        className: "text-left"
                    },
                    {
                        data: { state: "ticket.ticketPriority.name" },
                        mRender: function (data, type, full) {
                            return data.ticket.ticketPriority != null && data.ticket.ticketPriority.status != 'Deleted' ? data.ticket.ticketPriority.name : "";
                        }, "name": "ticket.ticketPriority.name",
                        className: "text-left"
                    },

                    {
                        data: "formattedDateEscalated",
                        name: "dateEscalated",
                        className: "text-left",
                        "orderable": true,
                    },
                    {
                        data: "reason",
                        name: "reason",
                        className: "text-left",
                        "orderable": false,
                    },
                    {
                        data: { state: "ticket.assignedTo.fullName" },
                        mRender: function (data, type, full) {
                            return data.ticket.assignedTo != null && data.ticket.assignedTo.status != 'Deleted' ? data.ticket.assignedTo.fullName : "";
                        }, "name": "ticket.assignedTo.fullName",
                        className: "text-left"
                    },
                    {
                        data: "id",
                        name: "id",
                        "orderable": false,
                        render: function (data) {
                            return " <a href='#' type='button' onclick=Delete('" + data + "') title='delete' class='feather icon-trash-2'></a><a href='tickets/details/" + data + "' class='mdi mdi-eye'></a>"
                        }
                    },

                ],
                responsive: true,
                "autoWidth": false,
            });
        });
    </script>


    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}