<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- User Profile-->
              
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="SeniorManager" asp-controller="Home" asp-action="Index" aria-expanded="false">
                        <i class="mdi me-2 mdi-gauge"></i><span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="SeniorManager" asp-controller="Members" asp-action="Index" aria-expanded="false">
                        <i class="mdi me-2 mdi-account-multiple"></i><span class="hide-menu">Members</span>
                    </a>
                </li>


                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="SeniorManager" asp-controller="Tickets" asp-action="Index" aria-expanded="false">
                        <i class="mdi me-2 mdi-account-multiple"></i><span class="hide-menu">Open Tickets</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="SeniorManager" asp-controller="Tickets" asp-action="Closed" aria-expanded="false">
                        <i class="mdi me-2 mdi-account-multiple"></i><span class="hide-menu">Closed Tickets</span>
                    </a>
                </li>


                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="SeniorManager" asp-controller="TicketEscalations" asp-action="Second" aria-expanded="false">
                        <i class="mdi mdi-file-tree"></i><span class="hide-menu">Tickets Escalated</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="SeniorManager" asp-controller="Feedbacks" asp-action="Index" aria-expanded="false">
                        <i class="mdi me-2 mdi-lightbulb-on"></i><span class="hide-menu">Feedback</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="SeniorManager" asp-controller="TicketReports" asp-action="Index" aria-expanded="false">
                        <i class="mdi me-2 mdi-file-tree"></i><span class="hide-menu">Reports</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       asp-area="SeniorManager" asp-controller="Profile" asp-action="Index" aria-expanded="false">
                        <i class="mdi mdi-account-circle"></i><span class="hide-menu">Profile</span>
                    </a>
                </li>
            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <div class="sidebar-footer">
        <div class="row justify-content-center">
            @*<div class="col-4 link-wrap">
                <!-- item-->
                <a href="" class="link" data-toggle="tooltip" title="" data-original-title="Settings">
                    <i class="ti-settings"></i>
                </a>
            </div>
            <div class="col-4 link-wrap">
                <!-- item-->
                <a href="" class="link" data-toggle="tooltip" title="" data-original-title="Email">
                    <i class="mdi mdi-gmail"></i>
                </a>
            </div>*@
            <div class="col-4 link-wrap">
                <!-- item-->
                <a asp-action="Logout" asp-controller="auth" asp-area="" class="link" data-toggle="tooltip" title="" data-original-title="Logout">
                    <i class="mdi mdi-power"></i>
                </a>
            </div>
        </div>
    </div>
</aside>