@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var host = Configuration.GetSection("HostingSettings")["Host"];
    var path = Configuration.GetSection("HostingSettings")["path"];
    var protocol = Configuration.GetSection("HostingSettings")["Protocol"];
}
@{
    ViewData["Title"] = "Members";
    Layout = "~/Areas/officer/Views/shared/_Layout.cshtml";
    string errorMessage = TempData["errorResponse"] as string;
}



<div class="card">
    <div class="card-header">
        <h4 class="text-center text-uppercase">Members Available In The System</h4>
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @errorMessage
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div>
            </div>
        }
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered " id="my_table">
                <thead>
                    <tr>
                        <th>
                            Account Number
                        </th>
                        <th>
                            National Id
                        </th>
                        <th>
                            First Name
                        </th>
                        <th>
                            Surname
                        </th>
                        <th>
                            Gender
                        </th>

                        <th>
                            Phone Number
                        </th>

                        <th>
                            Date Of Birth
                        </th>
                        <th>
                            Action
                        </th>



                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{

    <script>
        var datatable;
    </script>

    <script>
        $(document).ready(function () {
            datatable = $('#my_table').DataTable({


                "processing": true,
                "serverSide": true,
                "order": [[0, "desc"]],
                ajax: {
                    url: 'member/GetMembers',
                    type: 'post',
                    datatype: 'Json'


                },
                columnDefs: [
                    {
                        defaultContent: "",
                        targets: "_all",
                        'orderable': true
                    },
                ],
                columns: [

                    {
                        data: "accountNumber",
                        name: "accountNumber",
                        className: "text-left",
                        "orderable": true,
                    },
                    {
                        data: "nationalId",
                        name: "nationalId",
                        className: "text-left",
                        "orderable": true,
                    },
                    {
                        data: "formattedFirstName",
                        name: "firstName",
                        className: "text-left",
                        "orderable": true,
                    },
                    {
                        data: "formattedLastName",
                        name: "lastName",
                        className: "text-left",
                        "orderable": true,
                    },
                    {
                        data: "formattedGender",
                        name: "gender",
                        className: "text-left",
                        "orderable": true,
                    },
                    {
                        data: "phoneNumber",
                        name: "phoneNumber",
                        className: "text-left",
                        "orderable": false,
                    },

                    {
                        data: "formattedDateOfBirth",
                        name: "dateOfBirth",
                        className: "text-left",
                        "orderable": false,
                    },
                    {
                        data: "id",
                        name: "id",
                        "orderable": false,
                        render: function (data) {
                            return "<a title='show more' href='member/details/" + data + "' class='mdi mdi-eye'></a> "
                        }
                    },

                ],
                responsive: true,
                "autoWidth": false,
            });
        });
    </script>


    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}