@model UCS_CRM.Core.DTOs.Ticket.CreateTicketDTO
<!-- Modal -->

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Ticket</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
             <input asp-for="DataInvalid" type="hidden"/>
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
              
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" placeholder="Enter Ticket Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" placeholder="Enter Description" class="form-control" ></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TicketPriorityId"></label>
                    <select asp-for="TicketPriorityId" asp-items="@ViewBag.priorities" class="form-control"></select>
                    <span asp-validation-for="TicketPriorityId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TicketCategoryId"></label>
                    <select asp-for="TicketCategoryId" asp-items="@ViewBag.categories" class="form-control"></select>
                    <span asp-validation-for="TicketCategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                  <label for="Attachments" class="form-label">Upload Ticket Attachments (PDF)</label>
                  <input class="form-control" type="file" id="Attachments" name="Attachments" multiple accept="application/pdf">
                </div>
                

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="create_ticket_btn" name="create_ticket_btn">Create Ticket</button>
        </div>
    </div>
</div>
