@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var host = Configuration.GetSection("HostingSettings")["Host"];
    var path = Configuration.GetSection("HostingSettings")["path"];
    var protocol = Configuration.GetSection("HostingSettings")["Protocol"];
}
@{
    ViewData["Title"] = "Tickets";
    Layout = "~/Areas/Member/Views/shared/_Layout.cshtml";
}

<p>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#create_ticket_modal">
        Create A Ticket
    </button>

</p>



<div class="modal fade" id="create_ticket_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <partial name="_CreateTicketPartial" />
</div>

<div class="modal fade" id="edit_ticket_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <partial name="_EditTicketPartial" />
</div>


<div class="modal fade" id="escalate_ticket_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <partial name="_FirstTicketEscalationPartial" />
</div>


<div class="card">
    <div class="card-header">
        <h4 class="text-center text-uppercase">My Tickets Available In The System</h4>
        <div>
            <img src="~/images/91.gif" id="spinner" />
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered " id="my_table">
                <thead>
                    <tr>
                        <th>
                            Ticket Number
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Priority
                        </th>
                        <th>
                            Category
                        </th>

                        <th>
                            State
                        </th>
                        <th>
                            Period
                        </th>
                        <th>
                            Assigned To
                        </th>
                        <th>
                            Action
                        </th>



                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{

    <script>
        var datatable;
    </script>

    <script src="~/js/MemberTicket.js"></script>
    <script>
        $(document).ready(function () {
            var ticketTypeValue = "@ViewBag.type";
            datatable = $('#my_table').DataTable({


                "processing": true,
                "serverSide": true,
                "order": [[0, "desc"]],
                ajax: {
                    url: '/member/tickets/GetTickets',
                    data: { ticketType: ticketTypeValue },
                    type: 'post',
                    datatype: 'Json',
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                        console.log(XMLHttpRequest.responseText)


                    }


                },
                columnDefs: [
                    {
                        defaultContent: "",
                        targets: "_all",
                        'orderable': true
                    },
                ],
                columns: [


                    {
                        data: { state: "ticketEscalations.id" },
                        mRender: function (data, type, full) {

                            if (data.ticketEscalations != null && data.ticketEscalations.status != 'Deleted') {
                                if (data.ticketEscalations.length == 1) {
                                    return "<span class='bg-light-warning text-warning '>" + data.ticketNumber + "</span>"
                                }
                                if (data.ticketEscalations.length == 2) {
                                    return "<span class='bg-light-danger text-danger '>" + data.ticketNumber + "</span>"
                                }
                                else {
                                    return data.ticketNumber
                                }

                            }
                            else {
                                return ticketNumber
                            }

                        }, "name": "ticketNumber",
                        className: "text-left"
                    },
                    {
                        data: "title",
                        name: "title",
                        className: "text-left",
                        "orderable": true,
                    },
                    {
                        data: "description",
                        name: "description",
                        className: "text-left",
                        "orderable": false,
                    },
                    {
                        data: { state: "ticketPriority.name" },
                        mRender: function (data, type, full) {
                            return data.ticketPriority != null && data.ticketPriority.status != 'Deleted' ? data.ticketPriority.name : "";
                        }, "name": "ticketPriority.name",
                        className: "text-left"
                    },
                    {
                        data: { state: "ticketCategory.name" },
                        mRender: function (data, type, full) {
                            return data.ticketCategory != null && data.ticketCategory.status != 'Deleted' ? data.ticketCategory.name : "";
                        }, "name": "ticketCategory.name",
                        className: "text-left"
                    },
                    {
                        data: { state: "state.name" },
                        mRender: function (data, type, full) {

                            if (data.state != null && data.state.status != 'Deleted') {
                                if (data.state.name == "In Progress") {
                                    return "<span class=' bg-light-warning text-warning '>In Progress</span>"
                                }
                                if (data.state.name == "Pending") {
                                    return "<span class=' text-primary '>Pending</span>"
                                }
                                if (data.state.name == "Resolved") {
                                    return "<span class=' text-success '>Resolved</span>"
                                }
                                if (data.state.name == "Closed") {
                                    return "<span class='  text-secondary '>Closed</span>"
                                }
                                if (data.state.name == "Re-Opened") {
                                    return "<span class='  text-warning '>Re-Opened</span>"
                                }
                                if (data.state.name == "New") {
                                    return "<span class='  text-danger '>New</span>"
                                } if (data.state.name == "Open") {
                                    return "<span class='  text-info '>Open</span>"
                                }
                            }
                            else {
                                return data.state.name
                            }

                        }, "name": "state.name",
                        className: "text-left"
                    },
                    {
                        data: "period",
                        name: "period",
                        className: "text-left",
                        "orderable": true,
                    },
                    {
                        data: { state: "assignedTo.fullName" },
                        mRender: function (data, type, full) {

                            return data.assignedTo != null && data.assignedTo.status != 'Deleted' ? data.assignedTo.fullName : "";
                        }, "name": "assignedTo.fullName",
                        className: "text-left"
                    },
                    {
                        data: "id",
                        name: "id",
                        "orderable": false,
                        render: function (data) {
                            return "<a href='#' type='button' onclick=Delete('" + data + "') title='delete' class='feather icon-trash-2'></a><a href='tickets/details/" + data + "' class='mdi mdi-eye'></a> <a href='#' type='button' onclick=EscalationForm('" + data + "') title='Escalate' class='mdi mdi-arrow-up-bold'></a>" //<a href='#' onclick=EditForm('" + data + "') type='button' class='feather icon-edit' title='edit' ></a>
                        }
                    },

                ],
                responsive: true,
                "autoWidth": false,
            });
        });
    </script>


    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}